---
import Nav from "@components/Nav.astro";
---

<header class="mb-10">
  <nav class="flex justify-between">
    <div>
      <h1><a href="/landing/">BACS</a></h1>
    </div>

    <Nav />
  </nav>
</header>
