---
const navItems = [
  {href:"blog_home", label:"Read"},
  {href:"/contribute", label:"Contribute"},
  {href:"/join", label:"Join Us"},
]
---

<ul class="flex gap-4">

  {navItems.map(item => (      <li><a href="item.href">{item.label}</a></li>
  ))}
  </ul>
